USE [master]
GO
/****** Object:  Database [SalesDb]    Script Date: 4/16/2021 10:26:06 PM ******/
CREATE DATABASE [SalesDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SalesDb', FILENAME = N'E:\programs\MSSQL11.MSSQLSERVER\MSSQL\DATA\SalesDb.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SalesDb_log', FILENAME = N'E:\programs\MSSQL11.MSSQLSERVER\MSSQL\DATA\SalesDb_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SalesDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SalesDb]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 4/16/2021 10:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Invoice](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Client_Name] [varchar](max) NULL,
	[Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Invoice_Details]    Script Date: 4/16/2021 10:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Invoice_Details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[item] [varchar](max) NOT NULL,
	[unit_price] [decimal](19, 4) NOT NULL,
	[quantity] [int] NOT NULL,
	[invoice_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Invoice_Details]  WITH CHECK ADD FOREIGN KEY([invoice_id])
REFERENCES [dbo].[Invoice] ([id])
GO
USE [master]
GO
